.about {
  height: 320px;
  text-align: center;
  margin: 50px auto;
  font-family: 'Lato', sans-serif;
  color: rgba(0, 0, 0, 0.8);
  img {
    height: 50px;
  }
}

.about__title {
  @include sectionHeader;
}

.about__subtitle {
  @include sectionSubtitle;
}

.about__text {
  font-size: 15px;
  padding: 20px 95px;
  text-align: left;
  font-weight: 600;
  word-spacing: 3px;
  line-height: 18px;
  letter-spacing: 1px;
}
