.about{
  min-height: 25vh;
  margin: 1vh auto;
  &__header{
    margin: 2.5rem 0 0.5rem 0;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 900;
    letter-spacing: 0.15rem;
  }
  &__subhead{
    width: 100%;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
    letter-spacing: 0.15rem;
  }
  &__image{
    display: block;
    margin: 1rem auto;
  }
  &__text{
    margin: 0 auto 2vh auto;
    width: 90%;
    font-size: 1rem;
    letter-spacing: 2px;
    font-weight: 600;
    padding: 0 1rem;
    color: rgba(0, 0, 0, 0.9);
  }
}
