header {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  background: url(../images/main-bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: rgba(255, 255, 255, 0.9);
  padding: 70px 70px 0 70px;
  text-transform: uppercase;
  font: "Lato", sans-serif;
  h1 {
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 5px;
  }
  .header__top__menu{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    h2 {
      font-size: 24px;
      letter-spacing: 3px;
    }
    i {
      font-size: 24px;
      line-height: 25px;
      text-align: center;
      padding: 3px 0 0 8px;
    }
  }
}

.header__mid {
  color: rgba(255, 255, 255, 0.9);
  margin-top: 300px;
  float: right;
  padding: 50px 0;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  h2 {
    font-size: 48px;
    letter-spacing: 5px;
    word-spacing: 10px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  p{
    font-size: 30px;
    font-weight: 300;
    text-align: right;
    line-height: 40px;
    span {
      font-size: 20px;
      font-style: italic;
    }
  }
}

.header__mid::after {
  clear: both;
}

.header__bot {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  img {
    position: fixed;
    left: 50%;
    right: 50%;
    margin: auto;
    bottom: 85px;
  }
}
