header {
  height: 110vh;
  background:
    radial-gradient(
      rgba(255, 255, 255, 0.01),
      rgba(0, 0, 0, 0.45)
    ),
    url(../images/main-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .col-6:first-of-type{
    margin: 8vh 0;
    h1{
      color: white;
      text-transform: uppercase;
      font-size: 1.9rem;
      font-weight: 900;
      letter-spacing: 3px;
      padding: 2rem 0 0 0.5rem;
    }
  }
  .col-6:last-of-type{
    margin: 8vh 0;
    p{
      font-size: 1.7rem;
      font-weight: 600;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: white;
      float: right;
      padding: 2rem 0.7rem 0 0;
    }
  }
  .col-12{
    margin-top: 30vh;
    main{
      float: right;
      text-align: right;
    }
    h2{
      color: white;
      font-size: 3rem;
      font-weight: 900;
      letter-spacing: 5px;
      word-spacing: 3px;
      text-transform: uppercase;
    }
    h3{
      font-size: 1.5rem;
      font-weight: 500;
      letter-spacing: 2px;
      line-height: 1.5;
      word-spacing: 4px;
      padding-top: 0.5rem;
      color: $textSecondary;
    }
    p{
      font-size: 1.3rem;
      font-weight: 500;
      letter-spacing: 1px;
      word-spacing: 2px;
      padding-top: 1rem;
      font-style: italic;
      color: $textSecondary;
    }
  }
}
