.menu__shadow {
  -webkit-box-shadow: 0px 9px 10px -5px rgba(209,209,209,1);
  -moz-box-shadow: 0px 9px 10px -5px rgba(209,209,209,1);
  box-shadow: 0px 9px 10px -5px rgba(209,209,209,1);
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  height: 80px;
  h2 {
    padding-left: 70px;
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 5px;
    line-height: 30px;
    a {
      text-decoration: none;
      color: black;
    }
  }
}

.menu__items{
  width: 70%;
  display: flex;
  justify-content: space-around;
  li{
    float: right;
    list-style: none;
    a {
      text-decoration: none;
      color: black;
      font-weight: 500;
      font-size: 18px;
    }
  li::after{
    clear: both;
  }
  }
}

@media (max-width: 700px) {
  .menu {
    h2 {
      padding: 0;
      margin: 0 auto;
    }
  }
  .menu__items {
    display: none;
  }
}

@media (min-width: 701px) and (max-width: 1024px) {
  .menu {
    h2 {
      padding-left: 30px;
    }
  }
  .menu__items {
    li {
      a {
        font-size: 14px;
      }
    }
  }
}
