.menuSect{
  box-shadow: 0 8px 25px -8px #c6c9ce;
  .row{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.menu{
  height: 10vh;
  display: grid;
  h2{
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 3px;
  }
  .col-8{
    ul{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      list-style: none;
      li{
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.7);
      }
    }
  }
}
