.stats{
  width: 100%;
  height: 40vh;
  background: url(../images/mid-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  &__header{
    padding-top: 10vh;
    border: 1px solid red;
    text-align: center;
    &__head{
      text-transform: uppercase;
      font-size: 2rem;
      letter-spacing: 3px;
      word-spacing: 4px;
      font-weight: 800;
    }
    &__subhead{
      padding-top: .5rem;
      letter-spacing: 2.2px;
      word-spacing: 2.5px;
      font-weight: 600;
    }
  }
}
