#statistics {
  background: url(../images/mid-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
}

.stats {
  height: 487px;
}

.stats__text {
  h2 {
    @include sectionHeader;
    padding-top: 90px;
  }
  p {
    @include sectionSubtitle;
    padding-top: 10px;
    margin-bottom: 85px;
  }
}

.stats__numbers {
  width: 70%;
  margin: 0 auto;
  display: flex;
  text-transform: uppercase;
  margin-bottom: 100px;
  h2 {
    font-size: 72px;
    font-weight: 700;
    letter-spacing: 5px;
  }
  h3 {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 3px;
  }
}

.stats__numbers--left {
  width: 33%;
}

.stats__numbers--mid {
  width: 34%;
}

.stats__numbers--right {
  width: 33%;
}

@media (max-width: 850px) {
  .stats {
    height: 350px;
  }
  .stats__text {
    h2 {
      font-size: 20px;
      letter-spacing: 2px;
      padding-top: 50px;
    }
    p {
      font-size: 14px;
      letter-spacing: 1px;
      margin-bottom: 45px;
    }
  }
  .stats__numbers {
    h2 {
      font-size: 40px;
      letter-spacing: 3px;
    }
    h3 {
      font-size: 18px;
      letter-spacing: 1px;
    }
  }
}

@media (max-width: 1024px) {
  .stats__numbers {
    width: 90%;
  }
}

@media (max-width: 450px) {
  .stats__numbers {
    h2 {
      font-size: 30px;
      letter-spacing: 3px;
    }
    h3 {
      font-size: 14px;
      letter-spacing: 1px;
    }
  }
}
