#teamShow {
  background: #ededed;
  min-height: 50vh;
  text-align: center;
  padding-bottom: 20px;
}

.team__header {
  padding-top: 50px;
  h2 {
    @include sectionHeader;
  }
  p {
    @include sectionSubtitle;
    padding-top: 20px;
  }
}

.team__people {
  display: flex;
  flex-wrap: wrap;
  margin: 50px 150px 0 150px;
  div {
    width: 33%;
    img {
      border-radius: 50%;
    }
    h3 {
      @include sectionHeader;
      padding: 20px 0;
    }
    p {
      @include sectionSubtitle;
      text-transform: uppercase;

    }
  }
}

@media (max-width: 1024px) {
  .team__people {
    margin: 20px auto 0 auto;
    justify-content: space-around;
  }
}

@media (max-width: 650px) {
  .team__people {
    margin: 20px auto 0 auto;
    justify-content: space-around;
    div {
      width: 100%;
      margin: 20px auto;
      img {
        width: 50%;
      }
      h3 {
        font-size: 20px;
        padding: 10px 0;
      }
      p {
        font-size: 14px;
      }
    }
  }
}
